#title {
  background-color: gray;
  width: 422px;
  text-align: center;
  display: block;
}

#color-palette {
  display: block;
  width: 500px;
  height: 130px;
}

#color1 {
  display: inline-block;
  border: solid black 1px;
  width: 100px;
  height: 100px;
  background-color: black;
}

#color2 {
  display: inline-block;
  border: solid black 1px;
  width: 100px;
  height: 100px;
  background-color: yellow;
}

#color3 {
  display: inline-block;
  border: solid black 1px;
  width: 100px;
  height: 100px;
  background-color: red;
}

#color4 {
  display: inline-block;
  border: solid black 1px;
  width: 100px;
  height: 100px;
  background-color: blue;
}
