/* #main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

#title {
  background-color: lightgray;
  text-align: center;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
}

#color-palette {
  display: flex;
  width: auto;
  height: auto;

  /* justify-content: space-between; */
}

.color {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px black;
}

#color1 {
  display: inline-block;
  border: solid black 1px;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 5px;
  margin: 1px 2px;
}

#color2 {
  display: inline-block;
  border: solid black 1px;
  width: 40px;
  height: 40px;
  background-color: yellow;
  border-radius: 5px;
  margin: 1px 2px;
}

#color3 {
  display: inline-block;
  border: solid black 1px;
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 5px;
  margin: 1px 2px;
}

#color4 {
  display: inline-block;
  border: solid black 1px;
  width: 40px;
  height: 40px;
  background-color: blue;
  border-radius: 5px;
  margin: 1px 2px;
}

/* #pixel-board {
  display: inline-block;
  width: auto;
  height: auto;
  border: solid black 1px;
} */


.pixel {
  border: solid black 1px;
  width: 40px;
  height: 40px;
  display: inline-block;

  /* background-color: white; */
  border-radius: 2px;
}

#text {
  font-family: monospace;
  font-size: 15px;
  display: flex;
}

.pixelLine {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 40px;

  /* display: inline-block; */
}

.selected {
  width: 40px;
  height: 40px;
}

#btnDad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

#clear-board {
  display: flex;
  border-radius: 20px;
  color: white;
  background-color: red;
  margin: auto;
}

#generate-board {
  margin-top: 10px;
  display: flex;
  border-radius: 20px;
  color: white;
  background-color: green;
  margin-right: 10px;
}

#board-size {
  margin-top: 10px 0;
  display: flex;
  width: 30px;
  height: 15px;
}
