.body-content {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  zoom: 200%;
}

#title {
  background-color: gray;
  width: 422px;
  text-align: center;
  display: block;
}

#color-palette {
  display: block;
  width: 500px;
  height: 130px;
}

.color {
  background-color: black;
  width: 40px;
  height: 40px;
}

#color1 {
  display: inline-block;
  border: solid black 1px;
  width: 40px;
  height: 40px;
  background-color: black;
}

#color2 {
  display: inline-block;
  border: solid black 1px;
  width: 40px;
  height: 40px;
  background-color: yellow;
}

#color3 {
  display: inline-block;
  border: solid black 1px;
  width: 40px;
  height: 40px;
  background-color: red;
}

#color4 {
  display: inline-block;
  border: solid black 1px;
  width: 40px;
  height: 40px;
  background-color: blue;
}

#pixel-board {

  /* border: solid black 1px; */
  display: inline-block;
  width: auto;
  height: auto;
}

#default-color {
  background-color: black;
}

.pixel {
  border: solid black 1px;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: white;
}

#text {
  font-family: monospace;
  font-size: 15px;
}

.pixelLine {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 40px;
  display: inline-block;
}

.white {
  background-color: white;
}

.selected {
  border: 1px;
}
